<!DOCTYPE html>
<html>
<head>
  <title>{Meet Raghuram}</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body style screen_capture_injected="true">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        	</button>
			<a class="navbar-brand" href="#"><i class="fa fa-flag"></i> Meet Raghuram</a>
		</div>
		<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#home">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://www.linkedin.com/in/raghurampulijala/"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
			  <li><a href="http://github.com/rpulijala"><i class="fa fa-github-square fa-lg"></i></a></li>
              <li><a href="http://www.twitter.com/ram1936"><i class="fa fa-twitter-square fa-lg"></i></a></li>
              <li><a href="http://www.facebook.com/raghuram.pulijala/"><i class="fa fa-facebook-square fa-lg"></i></a></li>
              <li><a href="http://www.flickr.com/Pulijala36"><i class="fa fa-flickr fa-lg"></i></a></li>
            </ul>
         </div>
	</div>
  </div>
  <div class="jumbotron jumbotron-ad hidden-print">
  	<div class="container">
    	<h1>{Meet Raghuram}</h1>
    	<p>Welcome to my home page</p>
	</div>
  </div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	          	<div class="well well-small">
	          		<h2>Who Am I?</h2>
	          		<p>I am a Software Configuration Manager with a love of many different technologies. I've led teams, helped create and establish successful SDLC processes, and administered various SCM Tools.</br></p>
	        	</div>
	        </div>
	        <div class="col-md-4">
	        	<div class="well well-small">
	          		<h2>At Work</h2>
	          		<p>At work I'm dedicated to bettering the projects and companies I'm working with and I am always looking for ways to grow and improve.</br></br></br></p>
	        	</div>
	       </div>
	        <div class="col-md-4">
	          	<div class="well well-small">
	          		<h2>At Home</h2>
	          		<p>At home you can find me reading anything from science, electronics to self development books. Or playing video games.
	          		Around town you can find me trying new cuisines, finding new trails to hike, and occassionally taking a picture or two.<p>
	        	</div>
	      	</div>
	     </div>
	</div> <!-- /container -->
	<hr>
	<footer>
        <p>© 2013                   RPulijala, Inc
        </p>

      </footer>
</body>
</html>


		
